@use "../../../StyleSet/theme.scss";

.modal_background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal {
  max-width: 80%;
  max-height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  border-radius: theme.$borderRadiusWin;
  overflow: auto;

  &__body {
    display: flex;
    // flex-direction: row;
    gap: 15px;
    // height: 100%;
    // width: 100%;
    margin: 0px 15px 15px 15px;

    .img_sec {
      min-width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      .img_sec__img {
        width: 100%;
        object-fit: cover;
        border-radius: theme.$borderRadiusImg;
      }
    }
    .content_sec {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__content {
        text-align: justify;
      }
      &__footer {
        display: flex;
        justify-content: center;
      }
      &__gb_btn {
        @include theme.btn();
      }
    }
  }
}
.close_btn {
  display: flex;
  justify-content: flex-end;
  padding: 6px;

  button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}
